{% if obj_type == "epic" %}
    {{ _(" **删除史诗：** ") }} *#{{obj.ref}}: {{obj.subject}}*
{% elif obj_type == "relateduserstory" %}
    {% set userstory_url = resolve_front_url("userstory", obj.project.slug, obj.user_story.ref) %}
    {% set epic_url = resolve_front_url("epic", obj.project.slug, obj.epic.ref) %}
    在史诗 [#{{obj.epic.ref}}: {{obj.epic.subject|safe}}]({{epic_url}})中 {{ _(" **删除关联用户故事：** ") }} *#{{obj.user_story.ref}}: {{obj.user_story.subject}}* 
{% elif obj_type == "issue" %}
    {{ _(" **删除问题：** ") }} *#{{obj.ref}}: {{obj.subject}}*
{% elif obj_type == "task" %}
    {{ _(" **删除任务：** ") }} *#{{obj.ref}}: {{obj.subject}}*
{% elif obj_type == "userstory" %}
    {{ _(" **删除用户故事：** ") }} *#{{obj.ref}}: {{obj.subject}}*
{% elif obj_type == "wikipage" %}
    {{ _(" **删除维基页面：** ") }} *{{obj.slug}}*
{% elif obj_type == "milestone" %}
    {{ _(" **删除冲刺：** ") }} *{{obj.name}}*
{% endif %}
