{% if field_name == "points" %}
    {% for role, points in values.items() %}
        *{{ role }} 的角色分数* 从 *{{ points.0 }}* 改为 *{{ points.1 }}*
    {% endfor %}
{% elif field_name == "attachments" %}
    {% if values.new %}
        {% for att in values['new']%}
            *{{ _("**已添加新附件**") }}：* [{% if att.description %}{{ att.description }}{% endif %}]({{ att.url }}|{{ att.filename }})
        {% endfor %}
    {% endif %}
    {% if values.changed %}
        {% for att in values['changed'] %}
            *{{ _("**已更新附件**") }}：* [{% if att.changes.is_deprecated %} {% if att.changes.is_deprecated.1 %}_deprecated_{% else %}_not deprecated_{% endif %}{% endif %}]({{ att.url }}|{{ att.filename }}){% if att.changes.description %}{{ att.changes.description.1 }}{% endif %}
        {% endfor %}
    {% endif %}
    {% if values.deleted %}
        {% for att in values['deleted']%}
            *{{ _("**已删除附件**") }}：* {{ att.filename }}
        {% endfor %}
    {% endif %}
{% elif field_name in ["tags", "watchers"] %}
    *{{ field_name }}:* 从 *{{ ', '.join(values.0) if values.0 is not none else "None" }}* 到 *{{ ', '.join(values.1) if values.1 is not none else "None" }}*
{% elif field_name in ["description", "content", "blocked_note"] %}
    *{{ field_name.replace("_", " ") }}*
    
    从：
    {{ values.0 or "空" }}
    
    到：
    {{ values.1 or "空" }}
{% elif field_name == "assigned_to" %}
    *指派关系：* 从 {% if values.0 != None and values.0 != "" %}*{{ values.0 }}*{% else %}*{{ _("**未指派**") }}*{% endif %} 到 {% if values.1 != None and values.1 != "" %}*{{ values.1 }}*{% else %}*{{ _("**未指派**") }}*{% endif %}
{% elif field_name == "custom_attributes" %}
    {% if values.new %}
        {% for att in values.new %}
            *{{ att.name }}:* 到 *{{ att.value }}*
        {% endfor %}
    {% endif %}
    {% if values.changed %}
        {% for att in values.changed %}
            *{{ att.name }}:* 从 *{{ att.changes.value.0 }}* 到 *{{ att.changes.value.1 }}*
        {% endfor %}
    {% endif %}
    {% if values.deleted %}
        {% for att in values.deleted %}
            *{{ att.name }}:* _{{ _(" **已删除**") }}_
        {% endfor %}
    {% endif %}
{% else %}
    *{{ field_name.replace("_", " ") }}:* 从 *{{ values.0 }}* 到 *{{ values.1 }}*
{% endif %}
